@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

.ql-font-sans-serif {
  font-family: sans-serif;
}
.ql-font-serif {
  font-family: serif;
}
.ql-font-monospace {
  font-family: monospace;
}
.ql-font-arial {
  font-family: Arial, sans-serif;
}
.ql-font-roboto {
  font-family: 'Roboto', sans-serif;
}
.ql-font-poppins {
  font-family: 'Poppins', sans-serif;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="arial"]::before {
  content: 'Arial';
  font-family: Arial, sans-serif;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="roboto"]::before {
  content: 'Roboto';
  font-family: 'Roboto', sans-serif;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="poppins"]::before {
  content: 'Poppins';
  font-family: 'Poppins', sans-serif;
}


.dark {
  --bg: #0b0b0b;
  --textColor: #e2e2e2;
  --softBg: #1e1e1e;
  --softTextColor: #aaa;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

.light {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}

.ql-container{
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  color: #b3b3b1;
}